html{
	font-size: 1.5em;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
}

body{
	padding: 1rem;
}

* {
	box-sizing: border-box;
	line-height: 1rem;
	font-size: 0.666666rem;
	margin:0;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

.element-container{
	width: 10rem;
}

.dropdown-list{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}


ul.select-container{
	padding: 0;
	max-width: 10rem;
	list-style-type: none;
}

li{
    padding: .25rem .5rem;
    border: 1px solid #DDD;
    cursor: pointer;
    color: #767676;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
	height: 1.5rem;
	background: #fff;
}

li.option{
	animation: fadeIn 400ms;
}

/*li.single{
	position: relative;
	top: .05rem;
}*/

li.option:first-child{
	animation: none;
}

li.selected{
	color:red;
}

li.incorrect{
	border-bottom: 2px solid #E0211B;
}

li.chosen{
	border-bottom: 2px solid #1BB826;
}

.label{
	position: relative;
	top: 1.25rem;
	left: .525rem;
	transition: all 200ms;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	height: 1rem;
	display: inline;
	align-items: flex-start;
}

.label.active{
	position: relative;
	top: 0.45rem;
	color: hsl(0, 0%, 50%);
	font-size: 0.583333333rem;
	background: #fff;
	left: .4rem;
	padding: .125rem;
	overflow: hidden;
	line-height: .75rem;
}

.dropdown-list:hover .label{
	color: red;
}

.dropdown-list:hover .label.active{
	color: hsl(0, 0%, 50%);
}

.dropdown-list:hover li{
	/*border: 1px solid red;*/
	color: blue;
}

.dropdown-list:hover li{
	color: blue;
}

li.option:hover{
	color:green;
}
