html{
	font-size: 1.65em;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 1rem;
}

* {
	box-sizing: border-box;
	line-height: 1rem;
	font-size: 0.666666rem;
	margin:0;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

.nav{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.element-container{
	width: 10.5rem;
	margin: 0 auto;
}

.dropdown-list, .label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@-moz-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}


ul.select-container{
	padding: 0;
	max-width: 10.5rem;
	list-style-type: none;
}

li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 0.6rem;
	border: 1px solid #DDD;
	border-radius: 2px;
	cursor: pointer;
	height: 2rem;
	background: #fff;
	color: #7D7D7D;
}

li.option:first-child{
	border-top: 2px solid #767676;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

li.option:last-child{
	border-bottom: 2px solid #767676;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding-bottom: 1.5rem;
	padding-top: 1rem;
}

li.option{
	animation: fadeIn 400ms;
	border: 0px;
	border-radius: 0px;
	border-left: 2px solid #767676;
	border-right: 2px solid #767676;
}

li.selected,
li.option:hover{
	color: #444444;
}

li.incorrect{
	border-bottom: 2px solid #E0211B;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

li.chosen{
	border-bottom: 2px solid #1BB826;
	color: #555555;
}

li.single:hover,
li.chosen:hover,
.label:hover + .dropdown-list .single{
	border: 2px solid #767676;
	text-indent: -1px;
}

li.single.chosen:hover,
.label:hover + .dropdown-list .single.chosen{
	padding-bottom: calc( 0.25rem + 1px);
}

li.single.disabled:hover,
li.chosen.disabled:hover{
	border: 1px solid #DDD;
	text-indent: 0px !important;
}

.arrow{
	background: url(./assets/arrow.svg);
	width: 1rem;
	height: 1rem;
}

.label:hover + .dropdown-list .single .arrow,
li.single:hover > .arrow{
	position: relative;
    left: 1px;
}

.label:hover + .dropdown-list .single.disabled .arrow,
li.single.disabled:hover > .arrow{
    left: 0px;
}


.label{
	display: inline;
	position: relative;
	top: 1.45rem;
	left: .625rem;
	overflow: hidden;
	transition: all 200ms;
	z-index: 1;
	cursor: pointer;
	height: 1rem;
	color: #7D7D7D;
}

.label.active{
	top: 0.38rem;
	left: .35rem;
	padding-left: .25rem;
	padding-right: .3rem;
	overflow: hidden;
	line-height: .75rem;
	font-size: 0.583333333rem;
	background: #fff;
}

.label.active.disabled{
	top: 0.29999999rem;
}

.dropdown-list:hover .label.active{
	color: hsl(0, 0%, 50%);
}

.disabled{
	color:#ddd !important;
}

.single.disabled div{
	margin-bottom: 1px;
}

span.warn{
	position: relative;
	top: -0.075rem;
	color: #E0211B;
	font-size: 0.5rem;
}
